*.ipynb linguist-vendored
# Track all CSVs with LFS
**/*.csv filter=lfs diff=lfs merge=lfs -text
# Exclude CSVs from this particularly directory from LFS
src/human_aware_rl/static/human_data/dummy/*.csv filter= diff= merge= text
