on: ['push', 'pull_request']
jobs:
  osx_mdp_tests:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'
        architecture: 'x64'
    - name: Install dependencies
      run: python -m pip install --upgrade pip
    - name: Setup
      run: pip install -e .
    - name: Run tests
      run: |
<<<<<<< HEAD
        python testing/overcooked_test.py
  ## This should be uncommented once the planners are updated ##
  # osx_full_tests:
  #   runs-on: macos-latest
  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Set up Python 3.7
  #     uses: actions/setup-python@v2
  #     with:
  #       python-version: '3.7' 
  #       architecture: 'x64'
  #   - name: Install dependencies
  #     run: python -m pip install --upgrade pip
  #   - name: Setup
  #     run: pip install .
  #   - name: Run tests
  #     run: |
  #       python -m unittest discover -s testing/ -p "*_test.py"
=======
        python -m unittest discover -s testing/ -p "*_test.py"

>>>>>>> upstream/master
  ubuntu_mdp_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'
        architecture: 'x64'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage
    - name: Setup # needs -e flag for coverage tests to work
      run: pip install -e .
    - name: Run tests and generate coverage report
      run: |
<<<<<<< HEAD
        coverage run testing/overcooked_test.py
        coverage run -a testing/visualization_test.py
=======
        coverage run -m unittest discover -s testing/ -p "*_test.py"
>>>>>>> upstream/master
        coverage report
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        flags: no-planners
        name: codecov-report
        fail_ci_if_error: false
