on: ['push', 'pull_request']
jobs:
  # Removed macos tests because github actions doesn't support python 3.7 anymore
  # osx_mdp_tests:
  #   runs-on: macos-latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Set up Python 3.7
  #     uses: actions/setup-python@v4
  #     with:
  #       python-version: '3.7'
  #       architecture: 'x64'
  #   - name: Install dependencies
  #     run: python -m pip install --upgrade pip
  #   - name: Setup
  #     run: pip install -e .[harl]
  #   - name: Run tests
  #     run: |
  #       python -m unittest discover -s testing/ -p "*_test.py"
  ubuntu_mdp_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.7
      uses: actions/setup-python@v4
      with:
        python-version: '3.7'
        architecture: 'x64'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage
    - name: Setup # needs -e flag for coverage tests to work
      run: pip install -e .[harl]
    - name: Run tests and generate coverage report
      run: |
        coverage run -m unittest discover -s testing/ -p "*_test.py"
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        name: codecov-report
        fail_ci_if_error: false
