on: ['push', 'pull-request']
jobs:
  osx_basic_tests:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: '3.7' 
        architecture: 'x64'
    - name: Install dependencies
      run: python -m pip install --upgrade pip
    - name: Setup
      run: python setup.py develop
    - name: Run tests
      run: |
        cd overcooked_ai_py
        python run_tests.py
  osx_full_tests:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: '3.7' 
        architecture: 'x64'
    - name: Install dependencies
      run: python -m pip install --upgrade pip
    - name: Setup
      run: python setup.py develop
    - name: Run tests
      run: |
        cd overcooked_ai_py
        python run_tests_full_planning_suite.py
  ubuntu_basic_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: '3.7' 
        architecture: 'x64'
    - name: Install dependencies
      run: python -m pip install --upgrade pip
    - name: Setup
      run: python setup.py develop
    - name: Run tests
      run: |
        cd overcooked_ai_py
        python run_tests.py
  ubuntu_full_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: '3.7' 
        architecture: 'x64'
    - name: Install dependencies
      run: python -m pip install --upgrade pip
    - name: Setup
      run: python setup.py develop
    - name: Run tests
      run: |
        cd overcooked_ai_py
        python run_tests_full_planning_suite.py